In [1]:
import numpy as np
import pandas as pd
import operator

The function below defines the ratio of NaNs in the code to the length of the column. If this ratio is greater than given threshold, the column is considered as severely missing values.

In [2]:
# count number of seriously missing values
def missing_values(data, threshold):
    i=0
    names = []
    data_length = len(data)
    for name in data.columns:
        a = ((1-data[name].count()/data_length)*100).astype(int)
        if a > threshold:
            i+=1
            names.append(name)
    return(i, names)

In [3]:
data = pd.read_csv('https://www.openml.org/data/get_csv/53995/KDDCup09_churn.arff')
data = data.replace({"?": np.NaN})

In [4]:
bad_columns = missing_values(data,90)[1]

In [5]:
data_clean = data.copy()

In [6]:
for col in bad_columns:
    data_clean[col+"_na"] = data_clean[col] == np.NaN
    data_clean.drop(col,axis=1,inplace=True)

In [7]:
data_clean.head(5)

,Var6,Var7,Var13,Var21,Var22,Var24,Var25,Var28,Var35,Var38,...,Var186_na,Var187_na,Var188_na,Var190_na,Var191_na,Var209_na,Var213_na,Var215_na,Var224_na,Var230_na
0,1526,7,184,464,580,14,128,166.56,0,3570,...,False,False,False,False,False,False,False,False,False,False
1,525,0,0,168,210,2,24,353.52,0,4764966,...,False,False,False,False,False,False,False,False,False,False
2,5236,7,904,1212,1515,26,816,220.08,0,5883894,...,False,False,False,False,False,False,False,False,False,False
3,NaN,0,0,NaN,0,NaN,0,22.08,0,0,...,False,False,False,False,False,False,False,False,False,False
4,1029,7,3216,64,80,4,64,200,0,0,...,False,False,False,False,False,False,False,False,False,False

In [8]:
for col, i in zip(data_clean.columns,data_clean.dtypes):
    if i == object:
        try:
            data_clean[col] = data_clean[col].astype(float)
        except:
            pass
str_cols = []
for col in data_clean.columns:
    for i in range(len(data_clean)):
        if pd.isna(data_clean[col].values[i]) == False:
            if(type(data_clean[col].values[i])==str):
                str_cols.append(col)
            break

In [9]:
def max_occurency(a):
    '''this function returns the most frequent element 
    in the given iterable element, while NaN values are ignored.
    '''
    freq_dict = {}
    for elem in a:
        if pd.isna(elem) == False:
            if freq_dict.get(elem) == None:
                freq_dict[elem] = 1
            else:
                freq_dict[elem] += 1
    return max(freq_dict, key=freq_dict.get)

In [10]:
def freq_occurency(a):
    freq_dict = {}
    for elem in a:
        if freq_dict.get(elem) == None:
            freq_dict[elem] = 1
        else:
            freq_dict[elem] += 1
    return freq_dict

We apply here function max_occurency to string columns in order to fill NaNs with most frequent value in the corresponding column.

In [11]:
for col in str_cols:
    string_freq = max_occurency(data_clean[col].values)
    data_clean[col].fillna(string_freq, inplace=True)

In [12]:
freq_dicts = []
for col in str_cols:
    freq_dicts.append(freq_occurency(data_clean[col].values))

In [13]:
frequent_strs = []
for dictionary in freq_dicts:
    strs = sorted(dictionary.items(), key=operator.itemgetter(1),reverse=True)[:3]
    #print(strs)
    frequent_strs.append(strs)

This function is used for decreasing the number of distinct string values. Here only most frequent values are kept, while other values are set to -1. After that we can either proceed one-hot encoding to them or just simply leave them as they are 
$(vals \in{-1,0,1,2})$.

In [14]:
def prepare_repl_dict(freq_dict,i):
    try:
        repl_dict = [freq_dict[i][0][0],
                 freq_dict[i][1][0],
                 freq_dict[i][2][0]]
        repl_set = {freq_dict[i][0][0],
                freq_dict[i][1][0],
                freq_dict[i][2][0]}
    except:
        repl_dict = [freq_dict[i][0][0],
                 freq_dict[i][1][0]]
        repl_set = {freq_dict[i][0][0],
                freq_dict[i][1][0]}
    return repl_dict, repl_set

Here we apply our function to the data keeping in mind that exceptions may occur (if number of unique values is less than 3)

In [15]:
for i in range(len(str_cols)):
    r_array, r_set = prepare_repl_dict(frequent_strs,i)
    data_clean[str_cols[i]][data_clean[str_cols[i]].isin(r_set) == False] = -1
    try:
        for j in range(3):
            data_clean[str_cols[i]][data_clean[str_cols[i]] == r_array[j]] = j
    except:
        for j in range(2):
            data_clean[str_cols[i]][data_clean[str_cols[i]] == r_array[j]] = j

/Users/egor/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/egor/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/egor/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

Here and below we fill NaNs of numerical columns with corresponding median values:

In [16]:
data_clean = data_clean.astype(float)
for col in data_clean.columns:
    med = np.ceil(np.median(data_clean[col].values))
    data_clean[col].fillna(med)

/Users/egor/anaconda3/lib/python3.7/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)

In [17]:
for col in data_clean.columns:
    data_clean[col]=data_clean[col].fillna(np.ceil(np.median(data_clean[col][data_clean[col].isna()==False].values)))

Let's ensure that we don't have any NaNs left:

In [18]:
for i in data_clean.count():
    assert i ==50000

In [19]:
data_clean[str_cols] = data_clean[str_cols].astype(int)

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import (roc_curve, roc_auc_score, 
        accuracy_score, precision_score, recall_score, 
                             precision_recall_curve, average_precision_score, 
                             f1_score, classification_report)
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.decomposition import PCA

In [21]:
X = data_clean.drop('CHURN',axis=1).values
y = data_clean['CHURN'].values

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, 
                                                    random_state = 50, 
                                                    test_size= 0.25)

Let's apply PCA to the data in order to reduce the dimensionality of the data:

In [26]:
def ApplyScaling_pca(X,n):
    scaler = StandardScaler()
    X_new = scaler.fit_transform(X)
    pca_decomp = PCA(n)
    pca_decomp.fit_transform(X_new)
    return pca_decomp

In [39]:
pca = ApplyScaling_pca(X_train,15)

In [40]:
pca.explained_variance_ratio_

array([0.11722717, 0.07836554, 0.04786221, 0.03810838, 0.03456889,
       0.02563729, 0.02525956, 0.02326545, 0.02069041, 0.02028294,
       0.01863848, 0.01775834, 0.01606735, 0.01600419, 0.0156389 ])

It seems that 15 components are slightly more than optimal, let's try to reduce the n_components:

In [42]:
pca = ApplyScaling_pca(X_train,10)
pca.explained_variance_ratio_

array([0.11722717, 0.07836554, 0.04786221, 0.03810837, 0.03456888,
       0.02563516, 0.02525994, 0.02326105, 0.02067551, 0.02027106])