In [1]:
import numpy as np
import pandas as pd

In [72]:
# count number of seriously missing values
def missing_values(data, threshold):
    i=0
    names = []
    data_length = len(data)
    for name in data.columns:
        a = ((1-data[name].count()/data_length)*100).astype(int)
        if a > threshold:
            i+=1
            names.append(name)
    return(i, names)

In [59]:
data = pd.read_csv('https://www.openml.org/data/get_csv/53995/KDDCup09_churn.arff')
data = data.replace({"?": np.NaN})

In [74]:
bad_columns = missing_values(data,90)[1]

In [75]:
data_clean = data.copy()

In [76]:
for col in bad_columns:
    data_clean[col+"_na"] = data_clean[col] == np.NaN
    data_clean.drop(col,axis=1,inplace=True)

In [79]:
data_clean.head(5)

,Var6,Var7,Var13,Var21,Var22,Var24,Var25,Var28,Var35,Var38,...,Var186_na,Var187_na,Var188_na,Var190_na,Var191_na,Var209_na,Var213_na,Var215_na,Var224_na,Var230_na
0,1526,7,184,464,580,14,128,166.56,0,3570,...,False,False,False,False,False,False,False,False,False,False
1,525,0,0,168,210,2,24,353.52,0,4764966,...,False,False,False,False,False,False,False,False,False,False
2,5236,7,904,1212,1515,26,816,220.08,0,5883894,...,False,False,False,False,False,False,False,False,False,False
3,NaN,0,0,NaN,0,NaN,0,22.08,0,0,...,False,False,False,False,False,False,False,False,False,False
4,1029,7,3216,64,80,4,64,200,0,0,...,False,False,False,False,False,False,False,False,False,False

In [99]:
for col, i in zip(data_clean.columns,data_clean.dtypes):
    if i == object:
        try:
            data_clean[col] = data_clean[col].astype(float)
        except:
            pass

In [106]:
data_clean.head()

,Var6,Var7,Var13,Var21,Var22,Var24,Var25,Var28,Var35,Var38,...,Var186_na,Var187_na,Var188_na,Var190_na,Var191_na,Var209_na,Var213_na,Var215_na,Var224_na,Var230_na
0,1526.0,7.0,184.0,464.0,580.0,14.0,128.0,166.56,0.0,3570.0,...,False,False,False,False,False,False,False,False,False,False
1,525.0,0.0,0.0,168.0,210.0,2.0,24.0,353.52,0.0,4764966.0,...,False,False,False,False,False,False,False,False,False,False
2,5236.0,7.0,904.0,1212.0,1515.0,26.0,816.0,220.08,0.0,5883894.0,...,False,False,False,False,False,False,False,False,False,False
3,NaN,0.0,0.0,NaN,0.0,NaN,0.0,22.08,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
4,1029.0,7.0,3216.0,64.0,80.0,4.0,64.0,200.00,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False

In [141]:
str_cols = []
for col in data_clean.columns:
    if(type(data_clean[col].values[0])==str):
        str_cols.append(col)

In [155]:
def max_occurency(a):
    freq_dict = {}
    for elem in a:
        if freq_dict.get(elem) == None:
            freq_dict[elem] = 1
        else:
            freq_dict[elem] += 1
    return max(freq_dict, key=freq_dict.get)

In [162]:
for col in str_cols:
    string_freq = max_occurency(data_clean[col].values)
    data_clean[col].fillna(string_freq, inplace=True)

In [171]:
data_clean[str_cols].nunique()

Var192      361
Var193       51
Var195       23
Var196        4
Var197      225
Var198     4291
Var199     5073
Var202     5713
Var203        5
Var204      100
Var205        3
Var206       21
Var207       14
Var208        2
Var210        6
Var211        2
Var212       81
Var216     2016
Var217    13990
Var218        2
Var219       22
Var220     4291
Var221        7
Var222     4291
Var223        4
Var226       23
Var227        7
Var228       30
dtype: int64

In [167]:
data[str_cols].head(10)

,Var192,Var193,Var195,Var196,Var197,Var198,Var199,Var202,Var203,Var204,...,Var217,Var218,Var219,Var220,Var221,Var222,Var223,Var226,Var227,Var228
0,bZkvyxLkBI,RO12,taul,1K8T,lK27,ka_ns41,nQUveAzAF7,dXGu,9_Y1,FbIm,...,sH5Z,cJvF,FzaX,1YVfGrO,oslk,fXVEsaq,jySVZNlOJy,xb3V,RAYp,F2FyR07IdsN7I
1,CEat0G8rTN,RO12,taul,1K8T,2Ix5,qEdASpP,y2LIM01bE1,lg1t,9_Y1,k13i,...,NaN,NaN,FzaX,0AJo2f2,oslk,2Kb5FSF,LM8l689qOp,fKCe,RAYp,F2FyR07IdsN7I
2,eOQt0GoOh3,AERks4l,taul,1K8T,ffXs,NldASpP,y4g9XoZ,4bTR,9_Y1,MGOA,...,bHR7,UYBR,FzaX,JFM1BiF,Al6ZaUT,NKv4yOc,jySVZNlOJy,Qu4f,02N6s8f,ib5G6X1eUxUn6
3,jg69tYsGvO,RO12,taul,1K8T,ssAy,_ybO0dd,4hMlgkf58mhwh,W8mQ,9_Y1,YULl,...,eKej,UYBR,FzaX,L91KIiz,oslk,CE7uk3u,LM8l689qOp,FSa2,RAYp,F2FyR07IdsN7I
4,IXSgUHShse,RO12,taul,1K8T,uNkU,EKR938I,ThrHXVS,xklU,9_Y1,RVjC,...,H3p7,UYBR,FzaX,OrnLfvc,oslk,1J2cvxe,LM8l689qOp,FSa2,RAYp,F2FyR07IdsN7I
5,m9SrEy7Rm6,2Knk1KF,taul,1K8T,lK27,fayYfhR,etM739XNb0Rf0,ae6C,9_Y1,yrDU,...,ykzL,UYBR,FzaX,KbkKEj0,zCkv,QqVuch3,LM8l689qOp,Qcbd,02N6s8f,Zy3gnGM
6,Qu0qrQKzJV,2Knk1KF,taul,1K8T,EJC9,ofiZR7x,LJF4fPp,5Rb0,9_Y1,15m3,...,NvHl,UYBR,FzaX,JO03372,oslk,XlgxB9z,LM8l689qOp,FSa2,RAYp,55YFVY9
7,eOQgUHShse,RO12,LfvqpCtLOY,1K8T,Bxva,Xlthli9,GaiUdPAZp_,Mx5G,9_Y1,RVjC,...,9haV,UYBR,NaN,U8IKsQe,oslk,R2LdzOv,NaN,FSa2,RAYp,F2FyR07IdsN7I
8,4e7Wq69R_D,RO12,taul,1K8T,0Xwj,6CXYbuk,okUBQrgaYWgG0,1G9T,HLqf,Px52,...,NaN,NaN,FzaX,ROeipLp,zCkv,K2SqEo9,jySVZNlOJy,PM2D,6fzt,am14IcfM7tWLrUmRT52KtA
9,J9Vr4RQZiT,2Knk1KF,taul,1K8T,kNzO,jwhtMxl,koda1Jh,HJm0,9_Y1,mTeA,...,b30L,UYBR,FzaX,fabLnWA,oslk,EPqQcw6,LM8l689qOp,FSa2,RAYp,55YFVY9